body{
  background-color: #eee;
}
.header {
  padding: 26px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}



iframe {
  width: 100%;
  height: 500px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  min-height: 500px;
}